
.general-calendar-container {
    position: fixed;
    top: 54px;
    width: 100%;
}

.general-calendar-container .calendar {
    height: 80vh;
}

.calendar-header {
    background: #eeeeee;
    border-radius: 10px;
}

.month-container {
    margin-bottom: 25px !important;
}

.calendar-leyend-container {
    /*margin-top: 90vh;*/
    margin-top: 90vh;
    display: flex;
    justify-content: center;
}

.calendar-leyend-container text {
    border-width: 1px;
    border-style: solid;
    border-color: #dcdcdc;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background: #ececec;
}
