
.percentage-entry {
    margin: 0;
    width: 70%;
}

.form-control {
    width: 80px !important;
    display: inline-flex !important;
    margin: 0 10px;
}

.config-table {
    width: 75%;
    margin-top: 54px;
}

.filters-container {
    position: fixed;
    right: 0;
    top: 54px;
    width: 25%;
    padding: 20px 20px;
}

.filters-container .container {
    background: #f0f0f0;
    border-radius: 30px;
    padding: 10px 25px 20px 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #dce0e4;
}

.justify-content-center {
    justify-content: center !important;
    text-align: center;
    margin: 10px;
}

.dropdown-menu.show {
}

.percentage-column text {
    display: flex;
    align-items: center;
    height: 100%;
}
