.loading-window {
    font-size: xxx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-window h1{
    font-size: 80px;
}