.resumen-settings-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    column-gap: 20px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
}

.resumen-tabla-container {
    margin-top: 54px;
    padding: 50px;
    padding-top: 10px;
}

.resumen-table tbody {
    display: block;
}

.resumen-table thead {
    display: block;
}

.resumen-table th {
    width: 80px;
}

.resumen-table td {
    width: 80px;
}

.resumen-table tbody {
    overflow: auto;
    height: 720px;
}


.resumen-table {
    font-size: 17px;
    width: 100%;
}


.resumen-settings-button {
    border: #cccccc 1px solid;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    /*height: 38px;*/
    padding: 8px;
    color: #000000;
}